<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hi! I am Shreya Sharma, a graduate student pursuing my Master's in Robotics (fully funded program) at Carnegie Mellon University, Pittsburgh. I am working at <a href="https://www.ri.cmu.edu/robotics-groups/advanced-agent-robotics-technology-lab/">Advanced Agents Robotics Technology (AART) Lab</a> advised by <a href="http://www.cs.cmu.edu/~sycara/">Prof. Katia Sycara</a>. I will be graduating in May 2024.    
            </p>
            <p class="paragraph-text justify-text">
                I completed my dual degree (B.Tech + M.Tech) in Computer Science from the <a href="https://home.iitd.ac.in/">Indian Institute of Technology (IIT) Delhi</a> in 2022. My thesis at IIT Delhi was in Neuro-symbolic AI and NLP and was co-advised by <a href="https://www.cse.iitd.ac.in/~mausam/">Prof. Mausam</a> and <a href="https://www.cse.iitd.ac.in/~rohanpaul/">Prof. Rohan Paul</a>.
            </p>
            <p class="paragraph-text justify-text">
                I worked as a research fellow for one semester under <a href="https://www.mrinmaya.io/">Prof. Mrinmaya Sachan</a> at <a href="https://ethz.ch/en.html">ETH, Zurich</a>, in Reinforcement learning and NLP. I have interned with <a href="https://www.egr.msu.edu/~kdeb/">Prof. Kalyanmoy Deb</a> in Genetic Algorithms at <a href="https://msu.edu/">Michigan State University</a>.
            </p>
            <p class="paragraph-text justify-text">
                My academic journey has nurtured my interests in Reinforcement Learning, Vision-Language models, and, in general, all practical applications that ML brings to the table. I have a strong background in math fundamentals, including probability theory and statistics. 
            </p>
        </div>
    </section>
</div>
